<div class="surface-ground flex align-items-center justify-content-center min-h-screen min-w-screen overflow-hidden">
    <div class="flex flex-column align-items-center justify-content-center">
        <div style="border-radius:56px; padding:0.3rem; background: linear-gradient(180deg, #CC5B1C 10%, rgba(33, 150, 243, 0) 30%);">
            <div class="w-full surface-card py-8 px-5 sm:px-8" style="border-radius:53px">
                <div class="text-center mb-5">
                    <div class="text-900 text-3xl font-medium mb-3">Bienvenido a CrediRapi!</div>
                    <img src="assets/demo/images/credirapi-removebg-preview.png" alt="CrediRapid logo" class="mb-5 w-10rem flex-shrink-0">                
                </div>

                <div>
                    <form [formGroup]="formUsuario">
                        <label for="email1" class="block text-900 text-xl font-medium mb-2">Usuario</label>
                        <input type="text" formControlName="usuario" placeholder="Usuario" required class="form-control">

                        <label for="password1" class="block text-900 font-medium text-xl mb-2">Contraseña</label>
                        <input type="password" formControlName="clave" placeholder="Contraseña" required class="form-control">

                        <div *ngIf="errorMessage" style="color: red;" class="error-message">{{ errorMessage }}</div>
                        <button type="button" (click)="onLogin()" pButton pRipple label="Inicia Sesion" style="background-color: #CC5B1C;" class="botonEnviar w-full p-3 text-xl"></button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
