<div class="grid p-fluid">
    <div class="col-12 lg:col-12">
      <div class="card">
    
        <div class="field">
          <div class="row">
            <div class="col-sm-3">
              <div class="form-group">
                <h3>Fecha Inicio:</h3>
                <input type="date" id="fechaInicio" [(ngModel)]="fechaInicio" (change)="cambiarFechaInicio($event)" class="p-inputtext">
              </div>
            </div>
            <div class="col-sm-3">
              <div class="form-group">
         
                <h3>Fecha Final:</h3>
                <input type="date" id="fechaFin" [(ngModel)]="fechaFin" (change)="cambiarFechaFin($event)" class="p-inputtext">
              </div>
            </div>
            <div class="col-sm-3">
              <div class="form-group">
                <h3>Sucursal:</h3>
                <select style="background-color: #121212; color: aliceblue;" (change)="cambiarSucursal($event)" class="form-control">
                <option style="background-color: #121212; color: aliceblue;" [value]="">Seleccione una Sucursal</option> 
                <option style="background-color: #121212; color: aliceblue;"  [value]="100">  Mostrar Todas  </option> 
                  <option style="background-color: #121212; color: aliceblue;" *ngFor="let sucursal of sucursales" [value]="sucursal.sucu_Id">
                    {{ sucursal.muni_Descripcion + ', ' + sucursal.sucu_Direccion }}
                
                  </option>
                </select>
                
              </div>
            </div>
         
          </div>
  
  
        </div>
      </div>
    </div>
  </div>
  
  

  
  <button (click)="onImprimir()">PDF</button>
  
  <div class="no-print">
  <div *ngIf="pdfSrc" style="margin-top: 20px;">
    <iframe [src]="pdfSrc" width="100%" height="500px"></iframe>
  </div>
  </div>

