<div class="grid">
    <p-toast></p-toast>
    <div class="col-12 p-lg-12">
        <div class="card">
            <h3>Rol:</h3>
            <form [formGroup]="form">
              <div class="field">
                  <input type="text" class="p-inputtext col-6" required autofocus formControlName="rolNombre">
                  <br>
                  <small class="ng-dirty ng-invalid" style="color: red; font-size: 15px;" [style.display]="invalid ? 'block' : 'none'">El campo es requerido</small>
              </div>
              <div class="p-field p-d-flex" style="justify-content: end;">
                  <button pButton pRipple type="button" label="Volver" icon="pi pi-times" class="p-button-rounded p-button-secondary mt-4" (click)="Volver()"></button>
                  <button pButton pRipple type="button"label="Guardar" icon="pi pi-check" class="p-button ms-4" (click)="guardar()"></button>
              </div>
            </form>

            <div class="col-12 xl:col-8" [style.display]="pickListVisible ? 'block' : 'none'">
                <p-pickList [source]="sourceCities" [target]="targetCities" sourceHeader="Pantallas" targetHeader="Pantallas Agregadas" [dragdrop]="true"
                [responsive]="true" [sourceStyle]="{'height':'250px'}" [targetStyle]="{'height':'250px'}"
                (onMoveToTarget)="agregarPantalla($event)" (onMoveToSource)="eliminarPantalla($event)">
                <ng-template let-pantalla pTemplate="item">
                    <div>{{ pantalla.name }}</div>
                </ng-template>
            </p-pickList>
        </div>
        </div>  
    </div>
</div>
