
<div class="grid p-fluid">
    <div class="col-12 lg:col-12">
        <p-toast></p-toast>
        <div class="card">
            <h2>Seleccione el rango de fecha:</h2>
            <div class="field">
                <input  type="date" id="fechaInicio" [(ngModel)]="fechaInicio" (change)="cambiarFechaInicio($event)" class="p-inputtext col-6">
                <input  type="date" id="fechaFin" [(ngModel)]="fechaFin" (change)="cambiarFechaFin($event)" class="p-inputtext col-6">
            </div>

        </div>
    </div>
</div>

<div class="grid">
    <div class="col-12 lg:col-6 xl:col-3">
        <div class="card mb-0">
            <div class="flex justify-content-between mb-3">
                <div>
                    <span class="block text-900 font-medium mb-3">Prestamos:</span>
                    <div class="text-900 font-medium text-xl">{{ cantidadPrestamos }}</div>
                </div>
                <div class="flex align-items-center justify-content-center bg-blue-100 border-round" [ngStyle]="{width: '2.5rem', height: '2.5rem'}">
                    <i class="pi pi-shopping-cart text-blue-500 text-xl"></i>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="grid p-fluid">
     <div class="col-12 lg:col-6">
        <div class="card">
            <h2>Cantidad de Prestamos Por Sexo</h2>
            <canvas id="barChartSexo" class="chart"></canvas>
        </div>
    </div> 
    <div class="col-12 lg:col-6">
        <div class="card">
            <h2>Cantidad de Prestamos Por Modelo </h2>
            <p-chart type="doughnut" [data]="chartDataModelo" [options]="chartOptionsModelo" styleClass="chart"></p-chart>
        </div>
    </div>
</div>

<div class="grid p-fluid">
    
    <div class="col-12 lg:col-6">
        <div class="card">
            <h2>Cantidad de Prestamos Por Estado Civil</h2>
            <p-chart type="pie" [data]="chartDataEstado" [options]="chartOptionsEstado" styleClass="chart"></p-chart>
        </div>
    </div>
</div>
