<div class="">
    <div class="card">
        <div class="card-header">
            <h1>Pagar cuota - PLan Pago</h1>
        </div>
        <div class="card-body">
            <div>
                <form>
                    <div class="row">
                        <div class="col-sm-6">
                            <label style="color:aliceblue" htmlFor="email2">Identidad del cliente</label>
                        <div class="form-group">
                            <input pInputText formControlName="financiamiento" autocomplete="off" id="financiamiento" type="text" />
                        </div>
                        </div>
                    </div>
                    <div class="row" style="margin-top: 2%;">
                        <div class="col-sm-2">
                        <div class="form-group">
                            <button pripple="" (click)="hola()" class="p-ripple p-element p-button p-component" ng-reflect-ng-class="[object Object]" type="button" data-pc-name="button" data-pc-section="root">
                                <span ng-reflect-ng-class="[object Object]" data-pc-section="icon" class="pi pi-search p-button-icon p-button-icon-left ng-star-inserted"></span>
                                <span class="p-button-label ng-star-inserted" aria-hidden="false" data-pc-section="label">Buscar</span>
                                <span class="p-ink" aria-hidden="true" role="presentation"></span></button>
                        </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="form-group">
                                <button pripple="" style="background-color: lightslategray; border-color: lightslategray;" (click)="hola()" class="p-ripple p-element p-button p-component" ng-reflect-ng-class="[object Object]" type="button" data-pc-name="button" data-pc-section="root">
                                    <span ng-reflect-ng-class="[object Object]" data-pc-section="icon" class="pi pi-trash p-button-icon p-button-icon-left ng-star-inserted"></span>
                                    <span class="p-button-label ng-star-inserted" aria-hidden="false" data-pc-section="label">Limpiar</span>
                                    <span class="p-ink" aria-hidden="true" role="presentation"></span></button>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <button pripple="" style="background-color: rgb(51, 94, 151); border-color: rgb(51, 94, 151); " (click)="showWarnViaToast()" class="p-ripple p-element p-button p-component" ng-reflect-ng-class="[object Object]" type="button" data-pc-name="button" data-pc-section="root">
                                    <span ng-reflect-ng-class="[object Object]" data-pc-section="icon" class="pi pi-eye p-button-icon p-button-icon-left ng-star-inserted"></span>
                                    <span class="p-button-label ng-star-inserted" aria-hidden="false" data-pc-section="label">Ver cuotas</span>
                                    <span class="p-ink" aria-hidden="true" role="presentation"></span></button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
